@charset "UTF-8";

/*********************************************************** フォントの実体 */

@font-face {
    font-family : "Noto Serif JP";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/Noto/NotoSerifJP-Regular.ttf") format("truetype");
}
@font-face {
    font-family : "Noto Serif JP";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("fonts/Noto/NotoSerifJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family : "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/Noto/NotoSansJP-Regular.ttf") format("truetype");
}
@font-face {
    font-family : "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("fonts/Noto/NotoSansJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family : "M PLUS 1 Code";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/MPLUS/MPLUS1Code-Regular.ttf") format("truetype");
}

/*********************************************************** 全体に関わる設定 */

:root{
    --sans-serif-font: "Noto Sans JP", sans-serif;
    --serif-font: "Noto Serif JP", serif;
    --monospace-font: "M PLUS 1 Code", monospace;
    font-size: 13Q;
    line-height: 22Q;
    font-family: var(--serif-font);
    font-weight: 400;
    letter-spacing: normal;
    hanging-punctuation: allow-end;
    widows: 1;
    orphans: 1;
}

@page {
    margin-block: 10mm 18mm;            /* 天・地 */
    @bottom-center {                    /* ページ番号 */ 
        font-family: var(--monospace-font);
        font-size: 10Q;
        content: "- " counter(p) " -";
    }
    @footnote {
        border-top: #000 solid 1pt;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}

@page colophon {
    @bottom-center { content: none;}    /* 奥付はページ番号なし */
}

@page :left  { margin-inline: 16mm 18.25mm;    /* 小口・ノド */ }
@page :right { margin-inline: 18.25mm 16mm;    /* ノド・小口 */}

/* 通し番号にする最下位のカウンタでファイルを分割する（ここではh2） */
/* 通し番号にするカウンタをここでリセットする */
@page :first { counter-reset: p 2 level1 0 level2 0;} /* ページ番号(p)は表1, 表2をスキップ */

html.toc {page: toc;}                               /* 目次 */
html.contents {page: contents;}                     /* 本文ファイル */
html.contents :has(h1) { page: contents_h1; }       /* h1を持つ本文ファイル */
html.preface {page: preface;}                       /* 序文 */
html.postface {page: postface;}                     /* 後書き */
html.colophon {page: colophon;}                     /* 奥付 */

/* ページ先頭でインクリメントするカウンタ */
@page {counter-increment: p;}
/* 本文ファイル先頭でのカウンタインクリメント（pを忘れないこと） */
@page :nth(1 of contents)    { counter-increment: p level2;}
@page :nth(1 of contents_h1) { counter-increment: p level1 level2;}

/* **************************************************************** 共通設定 */

body{
    counter-reset: code-counter figure-counter;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--sans-serif-font);
    font-weight: 400;
}

p {
    font-size: 13Q;
    line-height: 22Q;
    text-align: justify;
    text-indent: 1em;
    margin-block: 0;
}

a{      /* リンクはそう見えないようにする */
    text-decoration: none;
    color: #000;
}

em{     /* 強調はゴシックで */    
    font-style: normal;
    font-family:  var(--sans-serif-font);;
    font-weight: 700;
}

code, pre {
    font-family:  var(--monospace-font);;
}

code em {
    font-family:  var(--monospace-font);;
    font-weight: 700;
}

/**************************************************************** 本文見出し */

body.contents h1{
    font-size: 28Q;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    break-before: page;
    line-height: 1.5lh;
    text-align: center;
    margin: 0;
    /* counter-increment: level1; */ /* 通し番号なのでここでは触らない */
    /* counter-reset: level2; */ /* 通し番号なのでここでは触らない */
}

body.contents h2 {
    font-size: 24Q;
    display:inline-block;
    width: 100%;
    border-bottom: #000 solid 1pt;
    break-before: left;
    margin-block-start: 1em;
    margin-block-end: 0.8em;
    /* counter-increment: level2; */ /* 通し番号なのでここでは触らない */
    counter-reset: level3;
}

body.contents h3 {
    font-size: 20Q;
    border-left: #000 solid 4pt;
    padding-left: 0.5em;
    margin-block-start: 1.2em;
    margin-block-end: 0.6em;
    counter-increment: level3;
    counter-reset: level4;
}

body.contents h4 {
    font-size: 16Q;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    counter-increment: level4;
    counter-reset: level5;
}

body.contents h5 {
    font-size: 14Q;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    counter-increment: level5;
    counter-reset: level6;
}

body.contents h6 {
    font-size: 14Q;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    counter-increment: level6;
}

body.contents h1::before {
    content: "第" counter(level1) "章";
}

body.contents h2::before{
    content: counter(level2) "　";
}

body.contents h3::before{
    content: counter(level2) "." counter(level3) "　";
}

body.contents h4::before{
    content: counter(level2) "." counter(level3) "." counter(level4) "　";
}

body.contents h5::before{
    content: counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) "　";
}

body.contents h6::before{
    content: counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) "." counter(level6) "　";
}

h2 + section h3, h3 + section h4 , h4 + section h5, h5 + section h6{
    break-before: avoid;
    margin-block-start: 0em;
}

/***************************************************************** 目次 */

body.toc {
    counter-reset: toc_level1 toc_level2 toc_level3 toc_level4; /* 目次内のsection番号 */
}

body.toc nav, body.toc nav ul {
    list-style: none;           /* マーカーや左空きを消す */
    margin-inline-start: 0;
    padding-inline-start: 0;
}

body.toc .toc-level1 {                      /* chapter見出し */
    font-family: var(--sans-serif-font);
    font-size: 18Q;
    line-height: 2em;
    counter-increment: toc_level1;
    /* counter-reset: toc_level2; */ /* 通し番号なのでここではリセットしない */
}

body.toc .toc-level2 {                      /* section見出し */
    font-family: var(--sans-serif-font);
    font-size: 16Q;
    line-height: 1.8em;
    margin-inline-start: 6mm;
    counter-increment: toc_level2;
    counter-reset: toc_level3;
}

body.toc .toc-level3{
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 12mm;
    counter-increment: toc_level3;
    counter-reset: toc_level4;
}

body.toc .toc-level4{
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 18mm;
    counter-increment: toc_level4;
    counter-reset: toc_level5;
}

body.toc .toc-level5{
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 24mm;
    counter-increment: toc_level5;
    counter-reset: toc_level6;
}

body.toc .toc-level6{
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 30mm;
    counter-increment: toc_level6;
}

body.toc .toc-level1::before {
    content: "第" counter(toc_level1)"章　";
    display: inline-block;
}

body.toc .toc-level2::before {
    content: counter(toc_level2)"　";
    display: inline-block;
}

body.toc .toc-level3::before {
    content: counter(toc_level2) "." counter(toc_level3) "　";
    display: inline-block;
}

body.toc .toc-level4::before {
    content: counter(toc_level2) "." counter(toc_level3) "." counter(toc_level4) "　";
    display: inline-block;
}

/* body.toc .toc-level1::after,  */ /* 1レベル目の後ろのリーダーは表示しない */
body.toc .toc-level2::after, 
body.toc .toc-level3::after, 
body.toc .toc-level4::after,
body.toc .toc-level5::after, 
body.toc .toc-level6::after {
    font-size: 10Q;
    font-family: var(--monospace-font);
    content: leader(dotted) " " target-counter(attr(href url), p);
    margin-inline-start: 0.5em;
}

body.toc li code {   /* タイトルのcode要素が少し小ぶりに見えるので調整 */
    font-size: 105%;
}

body.toc hr{
    break-before: page;
    visibility: hidden;
}

body.toc h1 {
    font-size: 24Q;
    display:inline-block;
    width: 100%;
    border-bottom: #000 solid 1pt;
    break-before: left;
    margin-block-start: 1em;
    margin-block-end: 0.8em;
}

body.toc h2 {
    font-size: 20Q;
    /* border-left: #000 solid 4pt; */
    padding-left: 0.5em;
    margin-block-start: 1.2em;
    margin-block-end: 0.6em;
}

/* **************************************************************** まえがき，あとがき */

body.preface h1, body.postface h1 {
    font-size: 24Q;
    display:inline-block;
    width: 100%;
    border-bottom: #000 solid 1pt;
    break-before: left;
    margin-block-start: 1em;
    margin-block-end: 0.8em;
}

body.preface h2, body.postface h2 {
    font-size: 20Q;
    padding-left: 0.5em;
    margin-block-start: 1.2em;
    margin-block-end: 0.6em;
}

body.preface .signature, body.postface .signature {
    display: block;
    text-align: right;
    margin-top: 1em;
}

/* **************************************************************** 奥付 */

body.colophon {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

body.colophon #book-info {
    margin-top: auto;
}

body.colophon #author-info h1 {
    font-size: 16Q;
    border: none;
}

body.colophon  #author-info h1::before{
    content: "[";
}

body.colophon #author-info h1::after{
    content: "]";
}

body.colophon #author-info p {
    line-height: 1.8em;
    text-indent: 0;
}

body.colophon #author-info dl {
    margin-block-start: 0mm;
    display: grid;
    grid-template-columns: 6em auto;
    column-gap: 1em;
    row-gap: 0mm;
}

body.colophon #author-info dl dt {
    grid-column: 1/2;
    margin: 0;
}

body.colophon #author-info dl dd {
    grid-column: 2/3;
    margin: 0;
}

body.colophon #book-info dl{
    display: grid;
    grid-template-columns: 4em 4em auto;
    column-gap: 1em;
    row-gap: 0mm;
}

body.colophon #book-info dt {
    grid-column: 1/2;
    text-align-last: justify;
    margin: 0;
}

body.colophon #book-info dd {
    grid-column: 2/4;
    margin: 0;
}

body.colophon #book-info dt.title {
    grid-column: 1/4;
    font-size: 18Q;
    line-height: 1.5em;
    border-block-end: solid 0.5mm #000;
    padding-block-end: 2mm;
    margin-block-end: 2mm;
    text-align-last: left;
}

body.colophon #book-info dt.title::after{ /* タイトルは自動的に */
    content: env(pub-title);
}

body.colophon #book-info dt.publish {
    grid-column: 1/3;
}

body.colophon #book-info dt.publish + dd{
    grid-column: 3/4;
}


/* 脚注のスタイル */

/* <span class="notetext"> 形式 */
.notetext{
    float: footnote;
    font-size: 12Q;
    line-height: 16Q;
    text-indent: 0;
}

.notetext::after {
    display: table;
    clear: both;
}

/* dpub 脚注のスタイル */
.footnote {
    font-size: 12Q;
    line-height: 16Q;
}

/* 共通 */
::footnote-call{ /* 脚注呼び出し */
    content: "（注" counter(footnote) "）";
    font-size: 0.7em;
    vertical-align: super; /* .notetext では元々super */
}

::footnote-marker{ /* 脚注マーカー */
    list-style-position: outside;
    content: "（注" counter(footnote) ") ";
    /* font-size: 0.7em; */
    /* vertical-align: super; */
}

[role="doc-footnote"]{
    margin-inline-start: 3em;
}

[role="doc-backlink"]{
    display: none;
}
