@charset "UTF-8";

@font-face {
    font-family : "Noto Serif JP";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/Noto/NotoSerifJP-Regular.ttf") format("truetype");
}
@font-face {
    font-family : "Noto Serif JP";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("fonts/Noto/NotoSerifJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family : "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/Noto/NotoSansJP-Regular.ttf") format("truetype");
}
@font-face {
    font-family : "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("fonts/Noto/NotoSansJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family : "M PLUS 1 Code";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("fonts/MPLUS/MPLUS1Code-Regular.ttf") format("truetype");
}

:root{
    --sans-serif-font: "Noto Sans JP", sans-serif;
    --serif-font: "Noto Serif JP", serif;
    --monospace-font: "M PLUS 1 Code", monospace;
    font-size: 13Q;
    line-height: 22Q;
    font-family: var(--serif-font);
    font-weight: 400;
    letter-spacing: normal;
    hanging-punctuation: allow-end;
    widows: 1;
    orphans: 1;
}

@page {
    margin-block: 10mm 18mm;            /* 天・地 */
    @bottom-center {                    /* ページ番号 */ 
        font-family: var(--monospace-font);
        font-size: 10Q;
        content: "- " counter(page) " -";
    }
}

@page :left {
    margin-inline: 16mm 18.25mm;    /* 小口・ノド */
}

@page :right {
    margin-inline: 18.25mm 16mm;    /* ノド・小口 */
}

@page :first {
    counter-reset: page 2;  /* 表1・表2の分のページ番号をスキップ */
}


/*********************************************************** 見出し */

h1, h2, h3, h4, h5{
    font-family: var(--sans-serif-font);
    font-weight: 400;
}

h1{
    font-size: 28Q;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    break-before: page;
    line-height: 1.5lh;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 24Q;
    display:inline-block;
    width: 100%;
    border-bottom: #000 solid 1pt;
    break-before: left;
    margin-block-start: 1em;
    margin-block-end: 0.8em;
    counter-reset: level3 figure-counter code-counter;
}

h3 {
    font-size: 20Q;
    border-left: #000 solid 4pt;
    padding-left: 0.5em;
    margin-block-start: 1.2em;
    margin-block-end: 0.6em;
    counter-increment: level3;
    counter-reset: level4;
}

h4 {
    font-size: 16Q;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    counter-increment: level4;
    counter-reset: level5;
}

h5 {
    font-size: 14Q;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    counter-increment: level5;
}

h2 + section h3, h3 + section h4 , h4 + section h5{
    break-before: avoid;
    margin-block-start: 0em;
}

/* **************************************************************** 本文 */

p {
    font-size: 13Q;
    line-height: 22Q;
    text-align: justify;
    text-indent: 1em;
    margin-block: 0;
}

a{      /* リンクはそう見えないようにする */
    text-decoration: none;
    color: #000;
}

em{     /* 強調はゴシックで */    
    font-style: normal;
    font-family:  var(--sans-serif-font);;
    font-weight: 700;
}

code, pre {
    font-family:  var(--monospace-font);;
}

code em {
    font-family:  var(--monospace-font);;
    font-weight: 700;
}
