@charset "UTF-8";

body{
    counter-reset: toc_level1 toc_level2 toc_level3 toc_level4; /* 目次内のsection番号 */
}

nav ul {
    list-style: none;           /* マーカーや左空きを消す */
    margin-inline-start: 0;
    padding-inline-start: 0;
}

.toc-level1 {                      /* chapter見出し */
    font-family: var(--sans-serif-font);
    counter-increment: toc_level1;
    font-size: 18Q;
    line-height: 2em;
}

.toc-level2 {                      /* section見出し */
    counter-increment: toc_level2;
    counter-reset: toc_level3;
    font-family: var(--sans-serif-font);
    font-size: 16Q;
    line-height: 1.8em;
    margin-inline-start: 6mm;
}

.toc-level3{
    counter-increment: toc_level3;
    counter-reset: toc_level4;
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 12mm;
}

.toc-level4{
    counter-increment: toc_level4;
    font-family: var(--sans-serif-font);
    font-size: 14Q;
    line-height: 1.2em;
    margin-inline-start: 18mm;
}

.toc-level1::before {
    content: "第" counter(toc_level1)"章　";
    display: inline-block;
}

.toc-level2::before {
    content: counter(toc_level2)"　";
    display: inline-block;
}

.toc-level3::before {
    content: counter(toc_level2) "." counter(toc_level3) "　";
    display: inline-block;
}

.toc-level4::before {
    content: counter(toc_level2) "." counter(toc_level3) "." counter(toc_level4) "　";
    display: inline-block;
}

.toc-level2::after, .toc-level3::after, .toc-level4::after {
    font-size: 10Q;
    font-family: var(--monospace-font);
    content: leader(dotted) " " target-counter(attr(href url), page);
    margin-inline-start: 0.5em;
}

li code {   /* タイトルのcode要素が少し小ぶりに見えるので調整 */
    font-size: 105%;
}

hr{
    break-before: page;
    visibility: hidden;
}

h3 {
    border: none;
}